@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            @Html.ActionLink("Bem-vindo " + User.Identity.GetUserName() + "!", "Index", "Reservas", routeValues: null, htmlAttributes: new { title = "Manage",@class = "nav-link js-scroll-trigger"  })
        </li>
        <li><a type = "button" class = "btn btn-warning mr-2 mt-2" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" , type = "button", @class = "btn btn-warning mr-2 mt-2"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", type = "button", @class = "btn btn-warning mr-2 mt-2" })</li>
    </ul>
}
